<a href="https://colab.research.google.com/github/Juniartobowo/bowo_algo/blob/main/9_Algo_Prak.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('@@@  @@@@ @@@    @@    @@@ @@@@')
print('@  @ @  @  @@@   @@   @@@  @  @')
print('@@@@ @  @   @@@ @  @ @@@   @  @')
print('@  @ @  @    @@@    @@@    @  @')
print('@@@  @@@@     @@    @@     @@@@')
print("========== ELKOM 1 ==========")
def konversi_list_ke_tuple(input_list):
    hasil_tuple = tuple(input_list)
    return hasil_tuple

list_tuple = [1, 2, 4, 3, 1, 44]

hasil_tuple = konversi_list_ke_tuple(list_tuple)

print(list_tuple)
print("hasil reverse ke tuple")
print(hasil_tuple)

@@@  @@@@ @@@    @@    @@@ @@@@
@  @ @  @  @@@   @@   @@@  @  @
@@@@ @  @   @@@ @  @ @@@   @  @
@  @ @  @    @@@    @@@    @  @
@@@  @@@@     @@    @@     @@@@
========== ELKOM 1 ==========
[1, 2, 4, 3, 1, 44]
hasil reverse ke tuple
(1, 2, 4, 3, 1, 44)

In [2]:
print('@@@  @@@@ @@@    @@    @@@ @@@@')
print('@  @ @  @  @@@   @@   @@@  @  @')
print('@@@@ @  @   @@@ @  @ @@@   @  @')
print('@  @ @  @    @@@    @@@    @  @')
print('@@@  @@@@     @@    @@     @@@@')
print('tuple 1:')
a = ('1021, 1022, 1023', '1025, 1026, 1027', '1029, 1030, 1030')
print(a)
def ratarata(angka):
    rata_rata = [int(x) for x in angka.split(', ')]
    return int(sum(rata_rata) / len(rata_rata))

averages = [ratarata(group) for group in a]
print("rata rata dari tuple adalah : ")
print(averages)

@@@  @@@@ @@@    @@    @@@ @@@@
@  @ @  @  @@@   @@   @@@  @  @
@@@@ @  @   @@@ @  @ @@@   @  @
@  @ @  @    @@@    @@@    @  @
@@@  @@@@     @@    @@     @@@@
tuple 1:
('1021, 1022, 1023', '1025, 1026, 1027', '1029, 1030, 1030')
rata rata dari tuple adalah :
[1022, 1026, 1029]

In [3]:
print('@@@  @@@@ @@@    @@    @@@ @@@@')
print('@  @ @  @  @@@   @@   @@@  @  @')
print('@@@@ @  @   @@@ @  @ @@@   @  @')
print('@  @ @  @    @@@    @@@    @  @')
print('@@@  @@@@     @@    @@     @@@@')
print("Elkom 3")
a = [1,2,4,3]

print(a)

hasil = 1

for result in a:
    hasil *= result


print(hasil)

@@@  @@@@ @@@    @@    @@@ @@@@
@  @ @  @  @@@   @@   @@@  @  @
@@@@ @  @   @@@ @  @ @@@   @  @
@  @ @  @    @@@    @@@    @  @
@@@  @@@@     @@    @@     @@@@
Elkom 3
[1, 2, 4, 3]
24

In [13]:
print('@@@  @@@@ @@@    @@    @@@ @@@@')
print('@  @ @  @  @@@   @@   @@@  @  @')
print('@@@@ @  @   @@@ @  @ @@@   @  @')
print('@  @ @  @    @@@    @@@    @  @')
print('@@@  @@@@     @@    @@     @@@@')
def hitung(liststring):
    count = 0
    for string in liststring:
        if len(string) >= 2 and string[0] == string[-1]:
            count += 1
            print(f"-{string}")
    return count


my_list = ['z', 'xvc', 'cac', '244']
print(my_list)
result = hitung(my_list)

print(f"terdapat {result} yang memenuhi")

@@@  @@@@ @@@    @@    @@@ @@@@
@  @ @  @  @@@   @@   @@@  @  @
@@@@ @  @   @@@ @  @ @@@   @  @
@  @ @  @    @@@    @@@    @  @
@@@  @@@@     @@    @@     @@@@
['z', 'xvc', 'cac', '244']
-cac
terdapat 1 yang memenuhi